#sidebar{
    width: 100%;
}

@media (min-width: 576px) { 
    
    
 }

@media (min-width: 768px) { 


    #sidebar{
        width: 300px;
        min-height: 100vh ;
    }

 }

@media (min-width: 992px) {

    

  }

@media (min-width: 1200px) {  }

.sub-link{
    color:  rgba(116,134,230,0.82);
}

.subnav{
    display: none;
}


#sidebar{

   background-color: #007bff;
   background: linear-gradient(-45deg, rgba(147,26,222,0.83) 0%, #007bff 100%);
}


.sidebar-dropdown-arrow{
    margin-top: 5.5px;
    float: right;
    
    transform: rotate(0deg);
    transition: 0.4s ease-in-out;
}


.has-subnav.collapsed .sidebar-dropdown-arrow{

    transform: rotate(90deg);
    transition: 0.4s ease-in-out;
    
  }
  
